<nav class="navbar navbar-default navbar-static-top">
	<div class="container">
		<div class="navbar-header">
			<div class="navbar-brand">
				<%= link_to("ANCIENT IPSUM", root_path) %>
			</div>
		</div>
		<ul class="nav navbar-nav">
			<li><%= link_to "Random", random_path %></li>
			<li><%= link_to "Search", search_path %></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<% user = current_user %>
			<% if user %>
				<li><p class="navbar-text"><%= "Logged in as #{ user.user_name }" %></p></li>
				<li><%= logout_link %></li>
			<% end %>
		</ul>
	</div>
</nav>